<div class="card-columns">
    <div *ngFor="let server of servers" class="card">
        <div class="card-body">
        <div style="width:50%;display:inline-block">
        <img src="{{ server.AwayLogo }}" width="100%">
        <h5 class="card-title text-center">{{ server.AwayName }}</h5>
        </div>
        <div style="width:50%;display:inline-block">
        <img src="{{ server.HomeLogo }}" width="100%">
        <h5 class="card-title text-center">{{ server.HomeName }}</h5>
        </div>
        <p class="card-text text-center">Quarter: {{ server.Quarter }}  |  Time: {{server.Time/60 | number:'1.0-0'}}:<span *ngIf="server.Time%60 < 10">0</span>{{ server.Time%60 }}</p>
        <p class="card-text"><small class="text-muted float-left">{{ server.PlayerCount }}/{{ server.MaxPlayers }} Players</small><small class="text-muted float-right">Id: {{server.Id}}</small></p>
        </div>
    </div>
</div>

<!-- { MaxPlayers: 8,
    [0]     AwayScore: 17,
    [0]     JobId: '8aa9eec2-bb13-4c66-bc88-2a64ca9b6d68',
    [0]     HomeTeam: 'rbxassetid://3345116604',
    [0]     AwayName: 'Denver',
    [0]     Time: 118,
    [0]     HomeName: 'Toronto',
    [0]     HomeColor: 'Black',
    [0]     AwayColor: 'Dark blue',
    [0]     Quarter: '1st',
    [0]     PlaceId: 3323729375,
    [0]     HomeScore: 10,
    [0]     PlayerCount: 8,
    [0]     AwayTeam: 'rbxassetid://3345116604',
    [0]     LastUpdate: 1570224746.059,
    [0]     Type: 'Public',
    [0]     Id: '8aa9eec2-bb13-4c66-bc88-2a64ca9b6d68' }, -->