<div class="toolbar navbar" role="banner">
  <img
    height="100%"
    alt="Phenom Logo"
    src="/assets/logo.png"
  />
    <div class="spacer"></div>
    <!-- <h2>Game Statistics</h2> -->
    <div class="spacer"></div>
    
    <a href="https://www.roblox.com/games/623694595" target="_blank">
      <img id="roblox-logo" src="http://www.rw-designer.com/icon-image/15580-256x256x32.png" alt="Roblox Logo">
    </a>
</div>

<router-outlet></router-outlet>
<router-outlet name="secondary"></router-outlet> 