<div class="toolbar navbar" role="banner">
  <img
    height="100%"
    alt="Phenom Logo"
    src="/assets/logo.png"
  />
    <div class="spacer"></div>
    <!-- <h2>Game Statistics</h2> -->
    <div class="spacer"></div>
    
    <a href="https://www.roblox.com/games/623694595" target="_blank">
      <img id="roblox-logo" src="http://www.rw-designer.com/icon-image/15580-256x256x32.png" alt="Roblox Logo">
    </a>
</div>

<ngx-spinner
bdOpacity = 0.9
bdColor = "#000000"
size = "large"
color = "#ffae00"
type = "ball-climbing-dot"
[fullScreen] = "false"
id = "spinner"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>
<!-- <div [@routeAnimations]="prepareRoute(outlet)" > -->
  <router-outlet></router-outlet>
<!-- </div> -->

<!-- <main [@routeAnimations]="prepareRoute(outlet)" > -->
<router-outlet name="secondary"></router-outlet>
<!-- </main> -->